<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  
  
    <system.web>
      <compilation debug="true" targetFramework="" />
      <httpRuntime targetFramework="" />
    </system.web>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="smtpServer" value="smtp.gmail.com" />
    <add key="EnableSsl" value = "true"/>
    <add key="smtpPort" value="587" />
    <add key="smtpUser" value="tasktracker21.21@gmail.com" />
    <add key="smtpPass" value="Jagrut!@Vadodara" />
    <add key="adminEmail" value="tasktracker21.21@gmail.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="tasktracker21.21@gmail.com">
        <network host="smtp.gmail.com" password="Jagrut!@" port="587" userName="tasktracker21.21@gmail.com"  enableSsl="true"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
